body{
    background-image:url("https://wallpaperaccess.com/full/94472.jpg");
    background-size: 100%;
}

.menu{
    width: 500px;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;
    justify-content: center;
}

ul{
    list-style: none;
}

.principal >li{
    float: left;
}

.principal li a{
    background: rgba(210, 105, 30, 0.336);
    color: rgba(240, 248, 255, 0.61);
    text-decoration: none;
    padding: 10px 12px ;
    display: block;
}

.principal li a:hover{
    background-color: rgba(220, 20, 60, 0.226);
}

.principal li ul{
    display: none;
    position: absolute;
    min-width: 140px;
}

.principal li:hover > ul{
    display: block;
}

.principal li ul li{
    position: relative;
}

/*.general h1{
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}*/

.area{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.imagenes{
    padding: 30px; 
    
}

.imagenes3{
    padding: 30px;
}

img:hover{
    opacity: .5;
    transition: .9s;
}

.titulo{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    color: aliceblue;
}

/* barra principal*/
.body1 > *{
    box-shadow:-1px 1px 7px 0px rgba(172, 66, 66, 0.692);
    border-radius: 4px;
    padding: 10px;
    text-align: center;
}

.body1{
    /*propocionar una cuadricula de una sola columna */
    display: grid;
    /* separacion de los elementos*/
    gap: 10px;
    /*defenir las area para mismo diseño*/
    grid-template-areas: 
    "nav"
    "section"
    "aside"
    ;
}

.nav{
    grid-area: nav;
    background-color: rgba(255, 127, 80, 0.445);
}

.section{
    grid-area: section;
    background-color: rgba(189, 183, 107, 0.397);
}

.aside{
    grid-area: aside;
    background-color: rgba(192, 61, 29, 0.507);
}

@media(min-width:900px){
    .body1{
        grid-template-columns: 400px 350px 400px;
        grid-template-rows: 50px 50px 50px;
        align-items: center;
        justify-content: center;
        grid-template-areas:
        "nav section aside"
        ;
    }
}